
@font-face {
    font-family: "betty";
    src: url("../css/font/betty.ttf");
 }
 
 @font-face {
    font-family: "sunflower";
    src: url("../css/font/sunflower.otf");
 }
 
 
 body{
    font-family: "Dosis",sans-serif;
 text-align: center;
 background-color: teal;
 }
 
 h1 {
    font-family: "betty";
 }

 p{
     font-family: "betty";
     font-size: 28px;
 }

 #menu {
   display: flex;
   font-size: 24px;
   font-family: "betty";
}

nav {
   padding-top: 100px;
    margin-bottom: -40px;
    margin-left: 370px;
}

a {
   color: whitesmoke !important;
   margin-left: 20px;
   margin-right: 20px;
   font-size: 28px !important;
}

a:hover {
   color: whitesmoke;
}

.header {
   display: flex;
}

ul {
   list-style-type: none;
}

 
 .content{
 position: absolute;
 text-align: center;
 margin: -10px 0 0 -30px;
 top: 70%;
 left: 50%;
 font-size: 20px;
 }
 
 .logo {
    background-image: url("../css/img/restadvisor.png");
    background-repeat: no-repeat;
    height: 120px;
    width: 400px;
    background-size: contain;
    margin-top: 1%;
    margin-left: 60px;
 }
 
 .mainBody {
    display: flex;
 }
 
 hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
 }
 
 .bookends:before, .bookends:after {
    position: absolute;
    bottom: -3.536px;
    width: 7.071px;
    height: 7.071px;
    display: block;
    border-width: 0 7.071px 7.071px 0;
    border-color: gray;
    border-style: double;
    box-sizing: border-box;
 }
 
 .bookends:before {
    transform: translateZ(0) rotate(-45deg);
    left: -21px;
 }
 
 .bookends:after {
    transform: translateZ(0) rotate(135deg);
    right: -21px;
 }
 
 .bookends {
    position: relative;
    border-width: 5px;
    border-color: black transparent;
    height: 11px;
    border-style: double;
    width: 20%;
 }
 
 button, hr, input {
    overflow: visible;
 }

 
 .title1, .title2 {
     margin-top: 150px;
 }

 .vote, .whichRestaurant {
     margin-top: 50px;
 }
 
 a {
    color: darkgrey;
    text-decoration: none;
    background-color: transparent;
    font-size: 60px;
}

h2 {
    font-family: "betty";
    font-size: 28px;
}

input {
    font-family: "sunflower";
    font-size: 18px;
}

.imgRestaurant {
    background-image: url(../css/img/restaurantvert.jpg);
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 150px;
}

.coche {
   background-image: url(../css/img/coche.png);
   background-size: cover;
   height: 80px;
   width: 90px !important;
}

.okAddRestaurant {
    display: none;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.cochemessage {
    font-size: 24px;
    margin-left: 10px;
    color: whitesmoke;
    margin-top: 20px;
}

#addRestaurant {
   margin-top: 20px;
   font-family: "sunflower";
}

form {
   margin-bottom: 20px;
}