body{
  font-family: "Dosis",sans-serif;
 text-align: center;
 background-color: #FFA851;
}

#menu {
   width: 150px;
   height: 150px;
   position: absolute;
   top: 85px !important;
   margin: -75px 0 0 -75px;
   list-style: none;
   font-size: 200%;
   left: 1300px;
}

.menu-button {
   opacity: 0;
   z-index: -1;
}

.menu-button {
   width: 150px;
   height: 150px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin: -75px 0 0 -75px;
   border-radius: 50%;
   background: white;
   background-image: url("../css/img/iconemenusmall.png");
   background-repeat: no-repeat;
   background-size: 100%;
   overflow: hidden;
   text-decoration: none;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
   opacity: 1;
   z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
   opacity: 1;
}

.menu-item {
   width: 70px;
   height: 70px;
   position: absolute;
   left: 55%;
   line-height: 5px;
   top: 50%;
   margin: -50px 0 0 -50px;
   border-radius: 50%;
   background-color: white;
   transform: translate(0px, 0px);
   transition: transform 500ms;
   z-index: 0;
   transition: .5s;
}

.menu-item:hover{
opacity: 0.5;
 box-shadow: 0 5px 10px black; 
}


.menu-item a {
   color: #fff;
   position: relative;
   top: 30%;
   left: 0;
   text-decoration: none;
}

#menu:target>.menu-item:nth-child(6) {
   transform: rotate(60deg) translateY(+150px) rotate(300deg);
   transition-delay: 0s;
   background-image: url("../css/img/indexicon.png");
   background-repeat: round;
}

#menu:target>.menu-item:nth-child(5) {
   transform: rotate(20deg) translateY(+155px) rotate(-20deg);
   transition-delay: 0.1s;
   background-image: url("../css/img/cover.png");
   background-repeat: round;
}

#menu:target>.menu-item:nth-child(3) {
   transform: rotate(-20deg) translateY(+155px) rotate(20deg);
   transition-delay: 0.2s;
   background-image: url("../css/img/tips.png");
   background-repeat: round;
}

#menu:target>.menu-item:nth-child(4) {
   transform: rotate(-60deg) translateY(+150px) rotate(60deg);
   transition-delay: 0.3s;
}

.content{
 position: absolute;
 text-align: center;
 margin: -10px 0 0 -30px;
 top: 70%;
 left: 50%;
 font-size: 20px;
}

.logo {
   background-image: url(../css/img/restadvisor.png);
   height: 120px;
   width: 400px;
   background-size: contain;
   margin-top: 1%;
   margin-left: 60px;
}

.formpage {
   background-image: url(../css/img/index.jpg);
   background-repeat: no-repeat;
   width: 800px;
   background-size: cover;
   height: 700px;
   margin-top: 30px;
   display: flex;
   z-index: -1;
}

.form {
    margin-left: 340px;
    margin-top: 350px;
}

input {
  height: 50px !important;
  width: 400px;
  border-radius: 15px;
  border-color: white;
  font-size: 20px;
}